In [1]:
import pandas as pd
import numpy as np
import requests
import time
import json
from datetime import datetime, timedelta
from dateutil.relativedelta import *
import calendar

In [2]:
weather_df=pd.read_csv('weather_csv.csv')

In [3]:
weather_df['hour_formatted']=weather_df['hour']/100

In [4]:
weather_df.head()

,date,sunrise,sunset,hour,temperature,heat_index,feels_like,precipitation,weather_description,hour_formatted
0,2018-04-03,07:18 AM,07:51 PM,0,61,63,62,0.0,Partly cloudy,0.0
1,2018-04-03,07:18 AM,07:51 PM,100,61,62,61,0.0,Partly cloudy,1.0
2,2018-04-03,07:18 AM,07:51 PM,200,60,61,60,0.2,Moderate rain at times,2.0
3,2018-04-03,07:18 AM,07:51 PM,300,59,60,59,0.3,Moderate rain at times,3.0
4,2018-04-03,07:18 AM,07:51 PM,400,59,60,59,0.1,Moderate rain at times,4.0

In [5]:
temp_groupby=weather_df.groupby('temperature').agg({"hour":"count"})

In [6]:
scooter_df=pd.read_csv('Dockless_Vehicle_Trips.csv')

C:\Users\Amro_Elhag\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
scooter_df.head()

,ID,Device ID,Vehicle Type,Trip Duration,Trip Distance,Start Time,End Time,Modified Date,Month,Hour,Day of Week,Council District (Start),Council District (End),Origin Cell ID,Destination Cell ID,Year,Start Latitude,Start Longitude,End Latitude,End Longitude
0,000000cb-78a9-4b95-8ead-37c797abcf37,ad14e63b-940d-4ca3-84c6-0131147fba45,scooter,358.0,915.0,06/29/2018 05:30:00 PM,06/29/2018 05:30:00 PM,12/12/2018 09:36:14 PM,6.0,17.0,5.0,5.0,9.0,013445,013916,2018.0,30.263,-97.762,30.259,-97.754
1,00001b5f-46aa-4b26-a12f-d7b4d3c69834,c5a230c9-7e80-4464-862f-f2b23f61d6d3,scooter,226.0,839.0,11/30/2018 11:00:00 AM,11/30/2018 11:00:00 AM,12/13/2018 03:43:44 PM,11.0,11.0,5.0,9.0,9.0,014556,015186,2018.0,30.283,-97.745,30.284,-97.737
2,00002334-2f2b-41a0-9a04-8ff66be39f40,5a9f7815-bf0c-4fef-8bac-60efd4f23b10,scooter,324.0,1206.0,10/02/2018 03:15:00 PM,10/02/2018 03:30:00 PM,12/13/2018 03:49:54 PM,10.0,15.0,2.0,9.0,9.0,015344,015032,2018.0,30.285,-97.734,30.291,-97.738
3,0000261e-c0f0-4fb1-9947-1606dfe4ddcf,41fa0cf0-f433-4b3a-89f5-2c6cec6c367d,scooter,1096.0,0.0,09/02/2018 04:45:00 PM,09/02/2018 05:00:00 PM,12/13/2018 03:53:09 PM,9.0,16.0,0.0,9.0,9.0,014707,014081,2018.0,30.268,-97.743,30.276,-97.752
4,00002c70-678b-4c09-a32c-da0266e329c6,ddd4bbc3-114e-4cbc-b078-860e3c28b11b,scooter,408.0,1144.0,09/28/2018 11:45:00 AM,09/28/2018 11:45:00 AM,12/12/2018 10:24:56 PM,9.0,11.0,5.0,3.0,3.0,016114,015642,2018.0,30.242,-97.721,30.244,-97.729

In [8]:
scooter_df['start_time_full_date']=pd.to_datetime(scooter_df['Start Time'])

In [9]:
scooter_df.head()

,ID,Device ID,Vehicle Type,Trip Duration,Trip Distance,Start Time,End Time,Modified Date,Month,Hour,...,Council District (Start),Council District (End),Origin Cell ID,Destination Cell ID,Year,Start Latitude,Start Longitude,End Latitude,End Longitude,start_time_full_date
0,000000cb-78a9-4b95-8ead-37c797abcf37,ad14e63b-940d-4ca3-84c6-0131147fba45,scooter,358.0,915.0,06/29/2018 05:30:00 PM,06/29/2018 05:30:00 PM,12/12/2018 09:36:14 PM,6.0,17.0,...,5.0,9.0,013445,013916,2018.0,30.263,-97.762,30.259,-97.754,2018-06-29 17:30:00
1,00001b5f-46aa-4b26-a12f-d7b4d3c69834,c5a230c9-7e80-4464-862f-f2b23f61d6d3,scooter,226.0,839.0,11/30/2018 11:00:00 AM,11/30/2018 11:00:00 AM,12/13/2018 03:43:44 PM,11.0,11.0,...,9.0,9.0,014556,015186,2018.0,30.283,-97.745,30.284,-97.737,2018-11-30 11:00:00
2,00002334-2f2b-41a0-9a04-8ff66be39f40,5a9f7815-bf0c-4fef-8bac-60efd4f23b10,scooter,324.0,1206.0,10/02/2018 03:15:00 PM,10/02/2018 03:30:00 PM,12/13/2018 03:49:54 PM,10.0,15.0,...,9.0,9.0,015344,015032,2018.0,30.285,-97.734,30.291,-97.738,2018-10-02 15:15:00
3,0000261e-c0f0-4fb1-9947-1606dfe4ddcf,41fa0cf0-f433-4b3a-89f5-2c6cec6c367d,scooter,1096.0,0.0,09/02/2018 04:45:00 PM,09/02/2018 05:00:00 PM,12/13/2018 03:53:09 PM,9.0,16.0,...,9.0,9.0,014707,014081,2018.0,30.268,-97.743,30.276,-97.752,2018-09-02 16:45:00
4,00002c70-678b-4c09-a32c-da0266e329c6,ddd4bbc3-114e-4cbc-b078-860e3c28b11b,scooter,408.0,1144.0,09/28/2018 11:45:00 AM,09/28/2018 11:45:00 AM,12/12/2018 10:24:56 PM,9.0,11.0,...,3.0,3.0,016114,015642,2018.0,30.242,-97.721,30.244,-97.729,2018-09-28 11:45:00

In [10]:
# scooter_df.count()

In [11]:
scooter_df.dropna(subset=['Start Time'], inplace=True)
# scooter_df.count()

In [12]:
scooter_df['start_time_str']=scooter_df['start_time_full_date'].apply(lambda x: x.strftime('%Y-%m-%d'))

In [13]:
scooter_df.head()

,ID,Device ID,Vehicle Type,Trip Duration,Trip Distance,Start Time,End Time,Modified Date,Month,Hour,...,Council District (End),Origin Cell ID,Destination Cell ID,Year,Start Latitude,Start Longitude,End Latitude,End Longitude,start_time_full_date,start_time_str
0,000000cb-78a9-4b95-8ead-37c797abcf37,ad14e63b-940d-4ca3-84c6-0131147fba45,scooter,358.0,915.0,06/29/2018 05:30:00 PM,06/29/2018 05:30:00 PM,12/12/2018 09:36:14 PM,6.0,17.0,...,9.0,013445,013916,2018.0,30.263,-97.762,30.259,-97.754,2018-06-29 17:30:00,2018-06-29
1,00001b5f-46aa-4b26-a12f-d7b4d3c69834,c5a230c9-7e80-4464-862f-f2b23f61d6d3,scooter,226.0,839.0,11/30/2018 11:00:00 AM,11/30/2018 11:00:00 AM,12/13/2018 03:43:44 PM,11.0,11.0,...,9.0,014556,015186,2018.0,30.283,-97.745,30.284,-97.737,2018-11-30 11:00:00,2018-11-30
2,00002334-2f2b-41a0-9a04-8ff66be39f40,5a9f7815-bf0c-4fef-8bac-60efd4f23b10,scooter,324.0,1206.0,10/02/2018 03:15:00 PM,10/02/2018 03:30:00 PM,12/13/2018 03:49:54 PM,10.0,15.0,...,9.0,015344,015032,2018.0,30.285,-97.734,30.291,-97.738,2018-10-02 15:15:00,2018-10-02
3,0000261e-c0f0-4fb1-9947-1606dfe4ddcf,41fa0cf0-f433-4b3a-89f5-2c6cec6c367d,scooter,1096.0,0.0,09/02/2018 04:45:00 PM,09/02/2018 05:00:00 PM,12/13/2018 03:53:09 PM,9.0,16.0,...,9.0,014707,014081,2018.0,30.268,-97.743,30.276,-97.752,2018-09-02 16:45:00,2018-09-02
4,00002c70-678b-4c09-a32c-da0266e329c6,ddd4bbc3-114e-4cbc-b078-860e3c28b11b,scooter,408.0,1144.0,09/28/2018 11:45:00 AM,09/28/2018 11:45:00 AM,12/12/2018 10:24:56 PM,9.0,11.0,...,3.0,016114,015642,2018.0,30.242,-97.721,30.244,-97.729,2018-09-28 11:45:00,2018-09-28

In [14]:
#Creation of average coordinates per Origin and Destination Cell and update scooter dataframe with those values
#Origin cell
df_coord1 = scooter_df[["Origin Cell ID","Start Latitude","Start Longitude"]]
df_coord1 = df_coord1.groupby(["Origin Cell ID"], as_index=False).mean()

#Destination cell
df_coord2 = scooter_df[["Destination Cell ID","End Latitude","End Longitude"]]
df_coord2 = df_coord2.groupby(["Destination Cell ID"], as_index=False).mean()

In [15]:
#Update on Origin cell
left_a = scooter_df.set_index('Origin Cell ID')
right_a = df_coord1.set_index('Origin Cell ID')
res = left_a.reindex(columns=left_a.columns.union(right_a.columns))
res.update(right_a)
res.reset_index(inplace=True)

In [16]:
#Update on Destination cell 
left_a = res.set_index('Destination Cell ID')
right_a = df_coord2.set_index('Destination Cell ID')
res = left_a.reindex(columns=left_a.columns.union(right_a.columns))
res.update(right_a)
res.reset_index(inplace=True)

In [17]:
scooter_df = res

In [18]:
df=pd.merge(scooter_df,weather_df, how='left', left_on=['start_time_str', 'Hour'], right_on=['date','hour_formatted'], sort=True)

In [19]:
# df

In [20]:
df.to_csv("scooter_weather.csv", index=False)